<!DOCTYPE html>
<html ng-app="MyApp">

<head>
  <title>MyApp</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>

  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  <!-- download from https://raw.githubusercontent.com/filepicker/filepicker-angular/develop/dist/angular_filepicker.min.js -->
  <script src="/angular_filepicker.min.js"></script>

  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>

</body>

</html>
